<div class="defaultScreenWpr" ng-show="tracks.length>0">
    <div class="trackList">
        <div class="header">Music Tracks</div>
        <div>
            <input type="text" class="searchBox" placeholder="search title" ng-model="searchText">
            <button class="searchIcon" ng-click="searchTitle()"><img src="./search.png" width="32px"/></button>
        </div>
        <table class="tracksTable">
            <tr ng-repeat="track in tracks">
                <td>
                    <span>{{track.title}}</span>
                    <span ng-show="track.genres.length>0">[ {{track.genresStr}} ]</span>
                </td>
                <td class="columnEdit">
                    <img class="editOption" src="./play.png" ng-click="playTrack(track)" width="32px"/>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-default" ng-click="addNewTrack()">Add New Track</button>
        <button type="button" class="btn btn-default" ng-click="addNewGenre()">Add Genre</button>
        <ul class="pager">
            <li><a href="#/" ng-click="navigateLeft()" class="leftNav">Previous</a></li>
            <li><a href="#/" ng-click="navigateRight()" class="rightNav">Next</a></li>
        </ul>
    </div>
    <div class="musicControl">
    	<table>
    		<tr>{{currentSong.title}}</tr>
    		<tr></tr>
    	</table>
    </div>
</div>