<div class="defaultScreenWpr" ng-show="tracks.length>0">
    <div class="trackList">
        <div class="header">Music Tracks</div>
        <div>
            <input type="text" class="searchBox" placeholder="search title" ng-model="searchText">
            <button class="searchIcon" ng-click="searchTitle()"><img src="./search.png" width="32px"/></button>
        </div>
        <table class="tracksTable">
            <tr ng-repeat="track in tracks">
                <td>
                    <span>{{track.title}}</span>
                    <span ng-show="track.genres.length>0">[ {{track.genresStr}} ]</span>
                </td>
                <td class="columnEdit">
                	<div ng-show="currentSong !== track || !isPlaying">
                    	<img class="editOption" src="./play.png" ng-click="playTrack(track, index)" width="32px"/>
                    </div>
                	<div ng-show="currentSong === track && isPlaying">
                    	<img class="editOption" src="./pause.png" ng-click="pauseTrack(track, index)" width="32px"/>
                    </div>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-default" ng-click="addNewTrack()">Add New Track</button>
        <button type="button" class="btn btn-default" ng-click="addNewGenre()">Add Genre</button>
        <ul class="pager">
            <li><a href="#/" ng-click="navigateLeft()" class="leftNav">Previous</a></li>
            <li><a href="#/" ng-click="navigateRight()" class="rightNav">Next</a></li>
        </ul>
    </div>
    <div class="musicControl">
    	<table class="musicControlTable">
    		<tr style="margin-bottom: 10px">
    			<td>{{currentSong.title}}
    			</td>
    		</tr>
    		<tr>
    			<td>
    				<img class="editOption" src="./prev.png" ng-click="playPrevTrack(currentSong)" width="25px"/>
    				<div ng-show="!isPlaying">
    					<img class="editOption" src="./Play.png" ng-click="playTrack(currentSong)" width="25px"/>
    				</div>
    				<div ng-show="isPlaying">
    					<img class="editOption" src="./Pause.png" ng-click="pauseTrack(currentSong)" width="25px" height="25px"/>
    				</div>
    				<img class="editOption" src="./Stop.png" ng-click="stopPlayingTrack(currentSong)" width="25px"/>
    				<img class="editOption" src="./next.png" ng-click="playNextTrack(currentSong)" width="25px"/>
    				<div ng-show="isRandom">
    					<img class="editOption" src="./random.png" ng-click="toggleRandom()" width="25px"/>
    				</div>
    				<div ng-show="!isRandom">
    					<img class="editOption" src="./noShuffle.png" ng-click="toggleRandom()" width="25px"/>
    				</div>
    			</td>
    			<td>
    				<input type="range" class="seekBar" min="0" max="100" ng-model="seekBarProgress" ng-change="seekTrack()">
    			</td>
    		</tr>
    	</table>
    </div>
</div>